{% include 'head.html' %}
{% block head %}
{% endblock %}
 <!-- About-->
 <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">I'm a Computer Science student who loves coding and solving problems. I know languages like  Python, HTML,CSS,JS ,C and C++. I've learned how to build software and work in teams. I'm good at coming up with solutions and explaining things clearly. I'm excited to learn more and work on cool projects in the tech world."</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>30-Aug-2023</h4>
                        <h4 class="subheading">C & c++</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">I successful completion of Live Project Based Internship Training in C & C++ Programming organized by Samyak IT Solutions Pvt Ltd .</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>07-Aug-2023</h4>
                        <h4 class="subheading">Front - End web development</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">participated in the 45 Days Offline Summer Internship Program 2023 in Front End Web
                        Development domain conducted by Learn and Build (LnB) .</p></div>
                </div>
            </li>
            <li>
                <!-- <img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /> -->
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>06-March-2024</h4>
                        <h4 class="subheading">python with web development</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Now i am learn python with web development from Grras Solutions Pvt. Ltd. it is a 6 month Internship and Training. </p></div>
                </div>
            </li>
            <!-- <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li> -->
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                       .
                        <br />
                        The End
                        <br />
                        .
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
{% include 'footer.html' %}
{% block foot %}
{% endblock %}