{% include 'head.html' %}
{% block head %}
{% endblock %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome !</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="/project/">Projects</a>
            </div>
        </header>
        
        {% include 'footer.html' %}
        {% block foot %}
        {% endblock %}